<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link rel="icon" href="../../resources/img/logo_icon.png">
  <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../resources/css/public.css">
</head>

<body>

  <!--------------------------nav------------------------->
  <nav id="navbare" class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div id="navbare" class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../resources/img/logo.png" height="70"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Pagina Principal</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="catalogo.html">Catálogo</a>
          </li>
          <li id="valoracionesNav" class="nav-item" hidden>
            <a class="nav-link" href="valoraciones.html">Mis valoraciones</a>
          </li>
          <li id="historialNav" class="nav-item" hidden>
            <a class="nav-link" href="historial_compra.html">Historial</a>
          </li>
        </ul>
        <!--botones de registro e inicio sesion-->


        <li id="carrito" class="nav-item" hidden>
          <a class="nav-link" href="carrito.html" role="button"><img src="../../resources/img/cart.png" height="30"></a>
        </li>



        <li id="users" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../resources/img/user.png" height="20">User1
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="perfil.html">check profile</a></li>
            <li><a class="dropdown-item" href="login.html"> cerrar sesión</a></li>
          </ul>

        </li>
        <!--
          <li id="carrito" class="nav-item">
            <a class="nav-link" href="carrito.html" role="button"><img src="../../resources/img/cart.png" height="30"></a>
          </li>
          
          <li id="users" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../resources/img/user.png" height="20">User1
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="perfil.html">check profile</a></li>
              <li><a class="dropdown-item" href="login.html"> cerrar sesión</a></li>
            </ul>
          
          </li>
          -->
      </div>

    </div>
    </div>
  </nav>
  <!--MODAL-->

  <!-- Modal -->
  <div class="modal fade" id="ValoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form id="valoracionForm">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Valoración</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" hidden id="idvalo" value="idvalo">
            <select class="form-select dropdown_manga field_manga" name="valoracion" id="valoracion"
              aria-label="Default select example">
              <option value="0" selected>Calificación</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <textarea required id="comentario" name="comentario" class="form-control manga_container txtvalo"
              id="exampleFormControlTextarea1" placeholder="Comentario..." rows="6" required maxlength="500"></textarea>
          </div>
          <div class="modal-footer">
            <button id="close" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- CONTENIDO -->
  <main>
    <div class="container text-center">

      <div class="valcont container text-center">
        <div class="row align-items-start">
          <div class="col-sm-12 col-md-6" id="contyavalo">
            <h2 class="title">Ya valorados </h2>
            <div class="row">
              <!-------->
            </div>
            <hr>
            <div class="row">
              <div class="col text-end">
                <img class="coverM" src="../../resources/img/spyfamily.jpg">
                <div class="col text-end">
                  <img class="star" src="../../resources/img/stars/stars.png">
                </div>
              </div>
              <div class="col text-start">
                <h4>Spy x family</h4>
                <img class="star" src="../../resources/img/stars/stars.png">
                <div id="manga_but" class="col-13">
                  <button type="button" class="btn btn-success btn-sm">Cambiar valoracion</button>
                  <p class="fecha_valoracion">Validado el dia 25/03/2022</p>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12 col-md-6" id="contnovalo">
            <h2 class="title">Por valorar</h2>
            <div class="row align-items-start">
              <div class="row">
                <div class="col text-end">
                  <img class="coverM" src="../../resources/img/onepice.jfif">
                  <div class="col text-end">
                    <img class="star" src="../../resources/img/stars/stars.png">
                  </div>
                </div>
                <div class="col text-start">
                  <h4>One piece</h4>
                  <div id="manga_but" class="col-13">
                    <button type="button" class="btn btn-primary btn-sm">Valorar</button>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col text-end">
                  <img class="coverM" src="../../resources/img/spyfamily.jpg">
                  <div class="col text-end">

                    <img class="star" src="../../resources/img/stars/stars.png">
                  </div>
                </div>
                <div class="col text-start">
                  <h4>Spy x family</h4>
                  <button type="button" class="btn btn-primary btn-sm">Valorar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </main>

  <!-------------------------------------footer-------------------------------------->
  <footer class="py-3">
    <h2 class="media">Redes Sociales</h2>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://www.facebook.com/" class="nav-link px-2 text-muted"><img class="iconS"
            src="../../resources/img/face.png"></a></li>
      <li class="nav-item"><a href="https://www.youtube.com/" class="nav-link px-2 text-muted"><img class="iconS"
            src="../../resources/img/yutu.png"></a></li>
      <li class="nav-item"><a href="https://www.instagram.com/" class="nav-link px-2 text-muted"><img class="iconS"
            src="../../resources/img/insta.png"></a></li>
      <li class="nav-item"><a href="https://twitter.com/home" class="nav-link px-2 text-muted"><img class="iconS"
            src="../../resources/img/twit.png"></a></li>
    </ul>
    <p class="text-center">© 2023 7mangas, Inc</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="../../resources/js/bootstrap.min.js"></script>
  <script src="../../resources/js/sweetalert.min.js"></script>
  <script src="../../controllers/public/account.js"></script>
  <script src="../../controllers/components.js"></script>
  <script src="../../controllers/public/valoraciones.js"></script>
</body>

</html>